@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

:root {
    font-family: "Google Sans",Roboto,Arial,sans-serif;
}

p {
    color: #000;
    padding-left: 20px;
}

h1 {
    margin: 0;
    padding: 5px;
    padding-left: 20px;
}



body {
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
}

.left, .right {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    height: 175px;
}

.credit {
    width: 40vw;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    
}

.credit>p{
    color: #ffffff;
}

.logo-container, .title {
    display: flex;
    align-items: center;
}

.logo {
    height: 170px;
    width: 170px;
}

.title {
    margin: 0px;
    font-size: 64px;
    font-family: 'Yellowtail', cursive;
    color: #ffffff;
}

.slogan {
    margin: 0px;
    font-size: 20px;
    padding-top: 5px;
    font-weight: 700;
    color: #ffffff;
}

.left {
    width: 40vw;
    min-width: 40vw;
    background-image: url("images/guilherme-stecanella-jv9ATyWT0Bw-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    justify-content: center;

}

.artistlink {
    text-decoration: underline;
    color: #fbfbfb;
}

.right {
    width: 60vw;
}

form {
display: flex;
}

.input {
    display: flex;
    padding: 20px;
    width: 25vw;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 16px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;
}

.welcome-message {
    height: 33vh;
    font-size: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: #fafafa;
}

.form-bottom {
    height: 33vh;
    background-color: #fafafa;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.button{
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}