p {
    color: green;
}

.main {
    display: flex;
}

.left, .right {
    border: 1px solid #ccc;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 100px;
}