:root {
    font-family: sans-serif;
}

p {
    color: green;
}

body {
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
}

.left, .right {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 100px;
}

.logo {
    font-size: 100px;
}

.title {
    font-size: 50px;
}

.left {
    background-image: url("images/tim-rebkavets-B5PNmw5XSpk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 50vw;
    background-color: #000;

}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.welcome-message {
    height: 33vh;
}

.form-bottom {
    height: 33vh;
}